.fondo{
    /*background-image: url('fondo2.jpg');*/
    width: 100vw;
    height: 100vh;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/

    background: url('img/fondo2.jpg') center no-repeat;
    background-size: 100%;

}
body{
    margin: 0;
}